.navbar {
  @include flex();
  height: 4rem;
  width: 100%;
  position: fixed;
  background-color: $Blue;

  .logo {
    width: 40px;
  }

  .app-name {
    font-size: 1.7rem;
    margin: 0 3rem;
  }

  .search-input {
    height: 1.5rem;
    border-radius: 2rem;
    border: none;
    padding: 0.3rem 1rem 0.3rem 1rem;
    margin: 0 3rem;
    width: 15rem;
    &:focus {
      outline: none;
    }
  }

  .navlink-wrapper {
    @include flex();
    list-style: none;
    .navlink {
      .icon-link {
        @include icon(30px, 1.5rem, 1.5rem, 1.5rem, 1.5rem);
        &:hover {
          color: $White;
        }
      }
    }
  }
}

.link-user {
  @include flex($justify: left);
  &:hover {
    background-color: $SilverSand;
    border-radius: 20rem;
  }
  .search-profile-pict {
    @include picture(2.5rem, 50%);
    margin: 0.3rem 1rem;
  }
}
