.container {
  @include flex($align: none);

  .left-container {
    width: 25%;
    margin-right: 0.25rem;
    margin-top: 1rem;
    .sticky {
      position: sticky;
      top: 4.5rem;
    }
  }
  .right-container {
    width: 42%;
    margin-left: 0.25rem;
    margin-top: 1rem;
    .no-posts-yet {
      @include flex();
    }
  }
}
