.profile,
.followers-content {
  @include flex($direc: column);
}

.card-followers,
.posted-header,
.action-btn {
  @include flex();
}

.about-me-content,
.contact-me-content,
.gallery-content,
.comment-name-date {
  @include flex($align: left, $direc: column);
}

.edu-work,
.comment-header,
.comment-act-section {
  @include flex($justify: left);
}

.post-box,
.preview,
.comment-box,
.add-comment {
  @include box();
}

.profile {
  margin-bottom: 2rem;
  margin-top: 4rem;
  .main-profile-pict {
    @include picture(10rem, 50%);
    border: 5px solid $White;
    margin: 2rem 0;
  }
}

.container {
  @include flex($align: none);

  .card-followers {
    @include card(140px);
    .followers-content {
      .text-14 {
        &:hover {
          cursor: pointer;
        }
      }
      .text-24-bold {
        margin: 0 1.5rem 0.5rem 1.5rem;
      }
    }
  }

  .card-about-me {
    @include card(auto, 290px, 1.5rem);
    .about-me-content {
      margin-bottom: 1rem;
      .text-18-bold {
        margin-bottom: 1rem;
      }
      .edu-work {
        margin: 1rem 0 0 0;
        .about-me-icon {
          @include icon(30px, 1rem);
        }
      }
    }
  }

  .card-contact-me {
    @include card($p: 1.5rem);
    .contact-me-content {
      .text-18-bold {
        margin-bottom: 1rem;
      }
      .sosmed {
        .contact-me-icon {
          @include icon(40px, 0.5rem);
          &:hover {
            color: $Blue;
          }
        }
      }
    }
  }

  .card-gallery {
    @include card($p: 1.5rem);
    .gallery-content {
      .text-18-bold {
        margin-bottom: 1rem;
      }
      .pict-container {
        @include grid();
        grid-template-columns: auto auto auto;
        .gallery-pict {
          @include picture(80px, 20px);
        }
      }
    }
  }

  .card-posting {
    @include card(auto, 500px, 1rem);

    .input-section {
      @include flex($justify: right);
      margin-top: 0.5rem;
      .preview {
        padding: 0 1rem;
        display: none;
        margin-right: 11rem;
        .text-12-bold {
          align-self: center;
          span {
            margin-left: 1rem;
            &:hover {
              cursor: pointer;
            }
          }
        }
      }
      .posting-icon {
        @include icon(30px, 1rem);
      }
      input {
        display: none;
      }
    }
  }
}

.post-box {
  resize: none;
}
.card-posted {
  @include card(auto, 500px, 1rem);
  .posted-header {
    @include flex($justify: left);
    .btn-more {
      margin-left: 15rem;
      .icon-20 {
        @include icon(20px);
      }
    }
    .profile-pict {
      @include picture(3.1rem, 50%);
      margin-right: 1rem;
    }
    .posted-name-date {
      @include flex($align: left, $justify: left, $direc: column);
    }
  }

  .posted-content {
    margin-top: 1rem;
    text-align: left;
    line-height: 100%;
    //finished soon
    .posted-image-section {
      @include grid();
      grid-template-columns: auto;
      .posted-image {
        width: 15rem;
      }
    }
    //------------------------
    .action-section {
      @include flex($justify: space-around);
      margin: 1rem 0 1rem 0;
      .liked-btn {
        color: $Blue;
      }
      .unlike-btn {
        color: $Black;
      }
      .action-btn {
        .text-14-bold {
          align-self: center;
        }
        .icon-20 {
          @include icon(1.25rem, $mr: 0.3rem);
        }
        &:hover {
          cursor: pointer;
        }
      }
    }
    //finished soon
    .comment-section {
      @include flex($justify: space-between);
      margin-bottom: 1rem;
      .text-11 {
        color: $Gray;
        &:hover {
          cursor: pointer;
          text-decoration: underline;
        }
      }
    }
    .comment-box {
      margin-top: 1rem;
      height: auto;
      padding: 0.5rem;
      .comment-header {
        margin-bottom: 0.5rem;
        .comment-profile-pict {
          @include picture(2.5rem, 50%);
          margin-right: 0.5rem;
        }
      }
      .comment-content {
        padding-left: 3rem;
      }
      .comment-act-section {
        margin: 1rem 0 0.5rem 3rem;
        .text-10-bold {
          align-self: center;
          margin-right: 1rem;
          &:hover {
            cursor: pointer;
            text-decoration: underline;
          }
        }
      }
    }
    .add-comment {
      padding: 0.5rem;
      display: flex;
      flex-direction: row;
      margin-top: 1rem;
      .reply-profile-pict {
        @include picture(2.5rem, 50%);
        margin-right: 1rem;
      }
      .comment-input {
        display: block;
        width: 100%;
        overflow: hidden;
        resize: none;
        height: 1rem;
        line-height: 20px;
        font-size: 12px;
        margin-top: 0.5rem;
        border: none;
        margin-right: 5rem;
        &[contenteditable]:empty::before {
          content: "Add your comment";
          color: $Gray;
        }
        &:focus {
          outline: none;
        }
      }
    }
    .show-pop-comment {
      display: flex;
    }
    .hide-pop-comment {
      display: none;
    }
  }
}
//------------------------
