.error {
  color: red;
  font-size: 12px;
}
.signup-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
  .signup-card {
    @include card(28rem, 22rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    .signup-appname {
      .signup-logo {
        width: 80px;
        margin-right: -2rem;
      }
    }
    .signup-input {
      font-family: "Poppins";
      border: 1px solid $SilverSand;
      border-radius: 30px;
      padding: 0.5rem 1rem;
      width: 60%;
      margin: 0.5rem 0;
    }
    .signup-btn {
      background-color: $Blue;
      border: none;
      border-radius: 30px;
      padding: 0.5rem 1rem;
      color: $White;
      width: 60%;
      margin: 0.5rem 0;
      &:hover {
        color: $Black;
        cursor: pointer;
        background-color: $SilverSand;
      }
    }
  }
  .text-14 {
    a {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
