.container-tl {
  @include flex($align: none);
  margin-top: 5rem;
  .card-post-tl {
    @include card(auto, auto, 1rem);
    .post-tl-title {
      @include flex($justify: left);
      .profile-pict-tl {
        @include picture(50px, 50%);
        margin-right: 1rem;
      }
      .posted-name-tl {
        @include flex($direc: column, $align: left);
      }
    }
    .post-tl-content {
      @include flex($direc: column);
      margin-top: 1rem;
      .create-post-tl {
        @include box();
        padding: 1rem;
        height: 5rem;
      }
      .button-post {
        margin-top: 0.5rem;
        display: flex;
        .btn-post {
          @include button();
        }
        .media-upload {
          .posting-icon {
            @include icon(30px, 1rem);
          }
          input {
            display: none;
          }
        }
      }
    }
  }
  .card-posted-tl {
    .posted-header {
      .profile-pict {
        @include picture(3.1rem, 50%);
        margin-right: 1rem;
      }
      .posted-name-date {
        @include flex($align: left, $justify: left, $direc: column);
      }
    }
  }
}
