<!DOCTYPE html>
<html>
  <head>
    <title>Not Found</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <p>Your page is not found. Please check your endpoint.</p>
  </body>
</html>
